.parent p{
            font-family:cursive;
            letter-spacing:2px;
            text-transform: uppercase;
            text-decoration:line-through;
            text-shadow: 0cap;
        }
        p:hover{
            color:blueviolet;
            background-color:aqua;
        }
        .border{
            border:2px solid rgb(112, 165, 42);
            padding-left:10px;
            padding-top: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            border-radius: 20px;
        }            