.parent p{
            font-family:cursive;
            letter-spacing:2px;
            text-transform: uppercase;
            text-decoration:line-through;
            text-shadow: 0cap;
        }
        p:hover{
            color:blueviolet;
            background-color:aqua;
        }